streamlit
streamlit-option-menu
pandas
nltk
textblob
google-generativeai
pinecone-client
scikit-learn
pymongo
python-dotenv
requests
certifi
transformers
torch==1.13.1
sentence-transformers
fastapi
uvicorn